<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div>
    <table class="table table-striped">
        <tr class="bg-info">
            <th>Symbol</th>
            <th>PriceChangePercent</th>
            <th>LastPrice</th>
            <th>Volume</th>
            <th>WeightedAvgPrice</th>
            <tbody id="myTable">
        
            </tbody>
        </tr>
    </table>
    <script>
        var myArray = []
        
    
        $.ajax({
            method:'GET',
            url:'http://localhost:7000/',
            success:function(response){
                myArray = response
                console.log(myArray)
            }
        })
    
    
    
        function buildTable(data){
            var table = document.getElementById('myTable')
    
            for (var i = 0; i < data.length; i++){
                var row = `<tr>
                                <td>${data[i].first_name}</td>
                                <td>${data[i].last_name}</td>
                                <td>${data[i].email}</td>
                          </tr>`
                table.innerHTML += row
    
    
            }
        }
    
    </script>
</div>
    
</body>
</html>